body{
    color: pink;
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
}
header{
    background-color: blueviolet;
    color: wheat;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
article{
    text-align: center;
}